@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet

@{ 
    var pageName = ViewContext.RouteData.Values["action"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RemoteObservatory</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/tether.css" />
        <link rel="stylesheet" href="~/css/font-awesome.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/tether.min.css" />
        <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)

    <environment names="Development">
        <script src="~/js/jquery-3.2.1.min.js"></script> <!--TODO: Add source code. -->
        <script src="~/js/tether.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/jquery-3.2.1.min.js"></script>
        <script src="~/js/tether.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</head>
<body>

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-primary">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">RemoteObservatory</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link @(pageName == "Index" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item"><a class="nav-link @(pageName == "About" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li class="nav-item"><a class="nav-link @(pageName == "Contact" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container body-content">

        @RenderBody()

        <nav class="navbar fixed-bottom navbar-light">
            <span class="navbar-text">
                Copyright &copy; Yotam Cohen, Ohad Hen and Itay Asayag. Made in Israel - 2017.
            </span>
        </nav>
    </div>

</body>
</html>
